{% extends 'base.html.twig' %}

{% block title %}Ajouter une tâche{% endblock %}

{% block body %}
   <div class="tasks-container">
        <h1 class="mt-5">Gestionnaire de tache</h1>
        <a href="{{ path('add_task') }}" class="btn btn-custom">Ajouter une tache</a>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">description</th>
                    <th scope="col">Date</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.date|date('d/m/Y H:i') }}</td>
                        <td>{{ task.status }}</td>
                        <td>
                            {# <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-warning">Modifier</a>
                            <form action="{{ path('task_delete', { 'id': task.id }) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form> #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
